<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/navbar %>
    <div class="content">
      <div class="row indigo">
        <div id="site-layout-example-left" class="col s2 ">
          <% include ./partials/sidebar %>
        </div>
        <div id="site-layout-example-right" class="col s10 grey lighten-4">
          <% if(data.page) {%>
            <% if(data.page === "createGroup"){%>
              <% include ./partials/forms/group %>
            <%} else if(data.page === "allGroups") {%>
                <% include ./partials/groups %>
            <%} else  if(data.page === "createIdentityProvider")  {%>
              <% include ./partials/forms/identityProvider %>
            <%}%>
          <%}%>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/js/admin.js" ></script>
  </body>

</html>