<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <div class="ui-app">
      <div class="ui-app__wrapper" id="app-layout-control">
        <div id="prepage-loader" style="display: none;">
          <div class="ui-app__prepage-loader spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
          </div>
        </div>
        <% include ../partials/navbar %>
        <% include ./partials/sidebar %>
        <main>
          <% if(data.page) {%>
            <% if(data.page === "createGroup"){%>
              <% include ./partials/forms/group %>
            <%} else if(data.page === "allGroups") {%>
                <% include ./partials/groups %>
            <%} else if(data.page === "createMapper"){%>
                <% include ./partials/forms/mapper %>
            <%} else if(data.page === "groupMappers"){%>
              <% include ./partials/mappers %>
            <%} else if(data.page === "getGroup"){%>
              <% include ./partials/group %>
            <%} else  if(data.page === "createIdentityProvider")  {%>
              <% include ./partials/forms/identityProvider %>
            <%} else if(data.page === "identityProvider") { %>
              <% include ./partials/identityProvider %>
            <%} else if(data.page === "showUsers") { %>
              <% include ./partials/users %>
            <%} else if(data.page === "showSessions") { %>
              <% include ./partials/sessions %>
            <%}%>
          <%}%>
        </main>
        <%  include ../partials/footer %>
      </div>
    </div>
    <%  include ../partials/scripts %>
    <script type="text/javascript" src="/js/admin.js" ></script>
  </body>
</html>