<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>APP NAME</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/css/materialize.min.css" >
<link type="text/css" rel="stylesheet" href="/css/admin.css" >

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.form.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
     
