<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <a href="http://local.bsstag.com:3000/saml/okta/login" >Okta</a><br>
    <a href="http://local.bsstag.com:3000/saml/onelogin/login" >Onelogin</a><br>
    <a href="http://local.bsstag.com:3000/saml/azure/login" >Azure</a><br>
    <a href="http://local.bsstag.com:3000/saml/google/login" >Google</a><br>
    <a href="http://local.bsstag.com:3000/saml/adfs/login" >ADFS</a><br>
    <!-- Set-AdfsRelyingPartyTrust -TargetName "Name-of-RPT" -EncryptClaims $false             ADFS encryption stop -->
  </body>
</html>