<div class="row">
  <div class="col s2"></div>
  <div class="col s8">
    <table>
      <thead>
        <th>Group Name</th>
        <th>Succuss callback</th>
        <th>Failure callback</th>
      </thead>
      <tbody>
        <% if(data.group) {%>
          <tr>
            <td><a href="/admin/dashboard/group/<%=data.group.id%>"><%= data.group.group_name%></a></td>
            <td><%= data.group.succ_callback.substr(0,20)%>...</td>
            <td><%= data.group.fail_callback.substr(0,20)%>...</td>
          </tr>
        <%}%>
      </tbody>
    </table>
  </div>
</div>