<ul class="collection">
  <li class="collection-item"><a href="/admin/dashboard/groups"><i class="material-icons">filter_drama</i>&nbsp;&nbsp;&nbsp;Groups</a></li>
  <li class="collection-item"><i class="material-icons">place</i>&nbsp;&nbsp;&nbsp; Alvin</li>
  <li class="collection-item"><i class="material-icons">whatshot</i>&nbsp;&nbsp;&nbsp; Alvin</li>
</ul>